{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row py-2">
        <div class="col-4 border border-1">
            <h2>Liste des groupes :</h2>
            <dl>
                <a href="{% url 'add_posix_group' %}"><dt><b><i class="bi bi-plus-square"> Ajouter un groupe</i></b></dt></a>
                {% for group in groups %}
                    {% if group.id == active %}
                        <a href="{% url 'dashboard' group.id %}" class="p-2 text-decoration-none text-dark"><dt><b>{{ group.name|upper }}</b></dt></a>
                    {% else %}
                        <a href="{% url 'dashboard' group.id %}" class="p-2 text-decoration-none text-dark"><dt>{{ group.name|upper }}</dt></a>
                    {% endif %}
                {% endfor %}    
            </dl> 
        </div>
        <div class="col-8 border border-1">
            <h2>Membres :</h2>
            <a href="{% url 'add_user' active %}"><dt><b><i class="bi bi-plus-square"> Ajouter un membre</i></b></dt></a>
            <a href="{% url 'add_bulk_users' active %}"><dt><b><i class="bi bi-plus-square"> Ajouter plusieurs membres</i></b></dt></a>
            {% if members %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                      </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{member.givenName}}</td>
                            <td>{{member.sn}}</td>
                            <td>{{member.uid}}</td>
                            <td><a href="{% url 'edit_user' member.uid %}"><i class="bi bi-pencil-fill"></i></a>&nbsp;<a href="{% url 'delete_user' active member.uid %}"><i class="bi bi-trash3-fill text-danger"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>Pour le moment, ce groupe n'a aucun membre.</h3>
            {% endif %}
        </div>
            
    </div>
</div>
{% endblock %}
